.forkSub {
  min-width: 320px;
  height: 878px;
  background-image: url("../img/forkSub/forksub_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -17px;
  text-align: center;
  &__headText {
    @extend %Montserrat-Bold;
    font-size: 48px;
    line-height: 50px;
    color: #FFFFFF;
    padding-top: 132px;
    margin-bottom: 60px;
  }
  &__price-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 93px;
  }
  .price__card {
    margin-right: 15px;
    width: 257px;
    display: grid;
    grid-template-rows: 96px 280px 81px;
    background: rgba(255, 255, 255, 0.1);
    &:last-child{
      margin-right: 0;
    }
    &-tariff {
      background: rgba(255, 255, 255, 0.05);
      align-self: center;
      padding: 36px 0 36px;
      .tariffText {
        @extend %Montserrat-Regular;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }
  .price__card-content {
    .price {
      @extend %Montserrat-Bold;
      font-size: 60px;
      line-height: 90px;
      text-transform: uppercase;
      color: #FFFFFF;
      & span {
        @extend %Montserrat-Regular;
      }
    }
    .month {
      @extend %Montserrat-Regular;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #FFFFFF;
      padding-bottom: 38px;
    }
    .feature {
      position: relative;
      @extend %Montserrat-Regular;
      font-size: 16px;
      line-height: 18px;
      color: #FFFFFF;
      padding-top: 36px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 60px;
        transform: translateX(-50%);
        height: 5px;
        background: #8d81ac;
      }
    }
  }
  .price__card-btn {
    .btn {
      @extend %Montserrat-Regular;
      padding: 14px 40px;
      border: 0;
      font-size: 15px;
      line-height: 15px;
      text-transform: uppercase;
      color: #fff;
      border-radius: 40px;
    }
    .btn-default {
      background: rgba(255, 255, 255, 0.15);
    }
  }
  .recommend__card {
    margin-right: 15px;
    width: 299px;
    display: grid;
    grid-template-rows: 111px 349px 100px;
    background: rgba(70, 48, 72, 0.84);
    &-tariff {
      background: rgba(0, 0, 0, 0.11);
      align-self: center;
      padding: 43px 0 43px;
      .tariffText {
        @extend %Montserrat-Regular;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
    .main__card-content {
      .price-main {
        @extend %Montserrat-Bold;
        font-size: 82px;
        line-height: 90px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
      & span {
        @extend %Montserrat-Regular;
      }
      .month-main {
        @extend %Montserrat-Regular;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-bottom: 46px;
      }
      .feature-main {
        position: relative;
        @extend %Montserrat-Regular;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        padding-top: 40px;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          width: 60px;
          transform: translateX(-50%);
          height: 5px;
          background: #8d81ac;
        }
      }
    }
  }
}
