.header {
  min-width: 320px;
  height: 800px;
  background-image: url("../img/background/header_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

    &__inner{
      padding-top: 24px;
      display: grid;
      grid-template-columns: 150px 1fr 145px;
      position: relative;
      z-index: 0;
    }
}
.logo{
  transition: all 0.3s ease-in-out;
  &__text{
    fill: #8D81AC;
  }
  &:hover &__text{
    fill: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  display: flex;
  align-items: center;
  &__img{
    margin-right: 17px;
  }
  &:hover .logo__img-fill{
    fill: #ffffff;
    transition: all 0.3s ease-in-out;
  }
}
.menu{
  justify-self: end;
  &__list{
    padding-right: 49px;
  }
  display: flex;
  align-items: center;
  &__list-item{
    display: inline-block;
    transition: color 0.3s;
    color: #8D81AC;
    & + .menu__list-item{
      padding-left: 47px;
    }
  }
  &__list-item:hover{
    color: #ffffff;
  }
  &__list-link{
    @extend %Montserrat-Bold;
    font-size: 16px;
    line-height: 17px;
  }
}
.header__inner-btn{
  display: block;
  width: 145px;
  height: 37px;
  background: #8D81AC;
  border: 1px solid #8D81AC;
  border-radius: 40px;
  color: #ffffff;
  cursor: pointer;
  @extend %Montserrat-Bold;
  font-size: 16px;
  line-height: 17px;
  transition: all 0.3s;
  &:hover{
    background: #ffffff;
    color: #8D81AC;
  }
}
.header__top{
  margin-top: 110px;
  text-align: center;
  &-mainText{
    @extend %Montserrat-Bold;
    font-size: 82px;
    line-height: 82px;
    color: #ffffff;
  }
  &-middleText{
    @extend %Lato-Regular;
    font-size: 30px;
    line-height: 30px;
    color: #8D81AC;
    margin-top: 19px;
  }
  &-bottomText{
    @extend %Montserrat-Regular;
    font-size: 16px;
    line-height: 16px;
    color: #848E97;
    text-transform: uppercase;
    margin-top: 19px;
  }
  &-btn{
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateY(50%) translateX(-50%);
    width: 390px;
    height: 62px;
    background: #8D81AC;
    border: 2px solid #8D81AC;
    border-radius: 40px;
    @extend %Montserrat-Bold;
    color: #ffffff;
    font-size: 21px;
    line-height: 62px;
    transition: all 0.3s;
  }
  &-btn:hover{
    &:hover{
      background: #ffffff;
      color: #8D81AC;
    }
  }
}