.peopleTalking{
  min-width: 320px;
  height: 769px;
  background-image: url("../img/peopleTalking/peopleTalking_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  & #hLine{
    border: none;
    overflow: overlay;
    background-color: #645766;
    color: #645766;
    height: 2px;
    width: 780px;
    margin-top: 18px;
  }
  &__headText{
    @extend %Montserrat-Bold;
    font-size: 48px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 75px;
    padding-top: 108px;
  }
  &__bottomText{
    width: 890px;
    margin: 0 auto;
    padding-top: 120px;
    @extend %Lato-Regular;
    font-size: 14px;
    line-height: 21px;
    color: #A291A5;
  }
}
.peopleTalking__cards{
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  grid-row-gap: 110px;
}
.peopleTalking__card{
  width: 350px;
  display: grid;
  grid-template-rows: 64px 1fr;
  justify-items: center;
  align-items: center;
  &-image{
    margin-bottom: 22px;
    max-width: 100%;
  }
  &-info{
    @extend %Lato-BoldItalic;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }
}
