//@media (min-width: 1070px){
//  .peopleTalking{
//    height: 769px;
//    background-size: contain;
//  }
//  .forkSub{
//    height: 878px;
//    background-size: contain;
//  }
//}
@media (max-width: 1111px){
  .hereIs-text{
    font-size: 37px;
  }
}
@media (max-width: 1060px){
  .peopleTalking__cards{
    grid-template-columns: repeat(3, 300px);
  }
  .peopleTalking__card{
    width: 300px;
  }
}
@media (max-width: 992px){
  .header__inner{
    grid-template-areas: "logo logo button"
                          "menu menu menu";
    grid-row-gap: 20px;
    align-items: center;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: -10px;
      right: -10px;
      bottom: 0;
      background: #27262A;
      z-index: -1;
    }
  }
  .header__inner > .logo{
    grid-area: logo;
  }
  .header__inner > .menu{
    grid-area: menu;
    justify-self: center;
    padding-bottom: 14px;
    .menu__list{
      padding-right: 0;
    }
  }
  .header__inner > .header__inner-btn{
    grid-area: button;
  }
  .header__top{
    margin-top: 69px;
    &-mainText{
      font-size: 72px;
      line-height: 72px;
    }
    &-middleText{
      font-size: 24px;
      line-height: 24px;
    }
    &-bottomText{
      font-size: 14px;
      line-height: 14px;
    }
  }
  .revolutionary{
    &__topText{
      line-height: 16px;
    }
    &__headText{
      font-size: 42px;
      line-height: 42px;
      margin-top: 100px;
    }
  }
  .whatYouGet{
    background-color: #ffffff;
    position: relative;
    &__wrapper{
      display: grid;
      grid-template-areas:  "head"
                            "middle"
                            "bottom";
      grid-template-rows: 95px 1fr auto;
    }
    .hereIs-text{
      font-size: 42px;
      line-height: 44px;
      margin-bottom: 50px;
    }
    .whatYouGet__text{
      grid-area: head;
      justify-self: center;
    }
    .whatYouGet__benefits{
      grid-area: middle;
      align-self: center;
    }
    .whatYouGet__image{
      grid-area: bottom;
      justify-self: end;
    }
    .benefits__card{
      grid-template-columns: 111px 1fr;
    }
  }
  .peopleTalking{
    height: auto;
    background-size: cover;
    &__cards{
      grid-template-columns: repeat(2, 350px);
      justify-items: center;
      grid-column-gap: 68px;
    }
    &__card{
      width: 350px;
    }
    &__headText{
      font-size: 42px;
      line-height: 44px;
      padding-top: 86px;
    }
    &__bottomText{
      width: 704px;
    }
    #hLine{
      width: 555px;
    }
  }
  .forkSub{
    height: auto;
    background-size: cover;
    &__headText{
      font-size: 42px;
      line-height: 44px;
      padding-top: 110px;
      margin-bottom: 40px;
      padding-left: 42px;
    }
    &__price-cards{
      display: grid;
      grid-template-columns: 299px 256px;
      justify-content: center;
      grid-column-gap: 25px;
      grid-row-gap: 30px;
      align-items: center;
    }
    .price__card{
      margin-right: 0;
    }
    .price__card:first-child{
      justify-self: end;
    }
  }
}
@media (max-width: 780px){
  .peopleTalking{
    &__headText{
      font-size: 36px;
      line-height: 38px;
    }
    &__cards{
      grid-template-columns: repeat(2, 300px)
    }
    &__card{
      width: 300px;
    }
    &__bottomText{
      width: 620px;
    }
    #hLine{
      width: 460px;
    }
  }
}
  .forkSub{
    &__headText{
      font-size: 36px;
    }
  }
@media (max-width: 680px){
  .peopleTalking{
    &__headText{
      font-size: 34px;
      line-height: 36px;
    }
    &__cards{
      grid-template-columns: repeat(2, 250px);
      grid-row-gap: 80px;
    }
    &__card{
      width: 250px;
    }
    &__bottomText{
      width: 590px;
      font-size: 12px;
    }
    #hLine{
      width: 400px;
    }
  }
}
@media (max-width: 600px){
  .header{
    &__top-middleText{
      font-size: 19px;
    }
  }
  .revolutionary{
    &__headText{
      font-size: 35px;
    }
  }
  .peopleTalking{
    &__headText{
      font-size: 30px;
      line-height: 36px;
    }
    &__cards{
      grid-template-columns: repeat(2, 200px);
      grid-row-gap: 80px;
      grid-column-gap: 50px;
    }
    &__card{
      width: 200px;
      &-info{
        font-size: 12px;
      }
    }
    &__bottomText{
      width: 400px;
      font-size: 12px;
    }
    #hLine{
      width: 300px;
    }
  }
  .forkSub{
    &__headText{
      font-size: 30px;
      line-height: 36px;
      padding-left: 0;
    }
    &__price-cards{
      grid-template-columns: 249px 206px;
      grid-column-gap: 15px;
      grid-row-gap: 20px;
      .price__card{
        width: 206px;
        grid-template-rows: 63px 250px 69px;
        &-tariff{
          padding: 20px 0 20px;
          .tariffText{
            font-size: 20px;
          }
        }
      }
      .recommend__card{
        width: 249px;
        grid-template-rows: 81px 280px 80px;
        &-tariff{
          padding: 30px 0 30px;
        }
      }
    }
  }
}
@media (max-width: 510px){
  .menu__list-link{
    font-size: 14px;
  }
  .whatYouGet__text > .hereIs-text{
    font-size: 39px;
  }
}

@media only screen and (max-width: 481px){
  body {
    min-width: 320px;
  }
  .header{
    .header__inner .menu > ul li a:active, .header__inner .menu > ul li a:focus, .header__inner .menu > ul li a:hover {
      text-decoration: none;
      color: #8d81ac;
    }
    z-index: 0;
    &__inner{
      display: flex;
      justify-content: space-between;
      padding: 32px 0 32px;
      &:before{
        z-index: -1;
      }
      &-btn{
        width: 119px;
        height: 37px;
      }
      &-burger{
        display: block;
        position: relative;
        width: 26px;
        height: 21px;
      }
      &-burger:before{
        content: '';
        position: absolute;
        background-color: #ffffff;
        left: 13px;
        width: 50%;
        height: 2px;
        top: 0;
        transition: all .3s ease-in-out;
      }
      &-burger:after{
        content: '';
        position: absolute;
        background-color: #ffffff;
        left: 0;
        top: 18px;
        width: 100%;
        height: 2px;
        transition: all .3s ease-in-out;
      }
      &-burger span{
        position: absolute;
        background-color: #ffffff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all .3s ease-in-out;
      }
      &-burger.active span{
        transform: scale(0);
      }
      &-burger.active:before{
        width: 100%;
        transform: rotate(-45deg);
        height: 2px;
        left:0;
        top: 10px;
      }
      &-burger.active:after{
        transform: rotate(45deg);
        height: 2px;
        left:0;
        top: 10px;
      }
    }
    .logo__img{
      margin-right: 0;
    }
    .logo__display{
      display: none;
    }
    .menu{
      width: 100%;
      position: absolute;
      top: -208%;
      left: 50%;
      transform: translateX(-50%);
      z-index: -2;
      transition: all .3s ease-in-out;
      &__list{
        display: flex;
        flex-direction: column;
        background-color: #333333;
        width: 100%;
        height: 100%;
        & li {
          padding-left: 35px;
          padding-bottom: 21px;
          padding-top: 29px;
          border-bottom: 1px solid #3B3B3B;
        }
        & li:last-child{
          margin-bottom: 14px;
        }
        &-link{
          font-weight: 400;
          font-size: 26px;
          line-height: 26px;
          color: #ffffff;
          transition: all .3s ease-in-out;
          &:first-child:before{
            content: '';
            position: absolute;
            width: 8px;
            height: 53px;
            background-color: #8D81AC;
            top:4%;
            left:0;
          }
        }
      }
    }
    .menu.active{
      top:100%;
    }
    &__top{
      margin-top: 50px;
        &-mainText {
          font-size: 48px;
          line-height: 48px;
      }
      &-middleText{
        font-size: 18px;
        line-height: 24px;
        text-transform: capitalize;
      }
      &-btn{
        width: 290px;
        height: 45px;
        line-height: 45px;
        font-size: 18px;
      }
    }
  }
  .revolutionary{
    &__topText{
      line-height: 14px;
    }
    &__headText{
      font-size: 26px;
      line-height: 28px;
    }
    &__bottomText{
      font-size: 14px;
      line-height: 20px;
    }
    &__socials{
      display: grid;
      grid-row-gap: 20px;
      justify-items: center;
      grid-template-areas: "watch star"
                            "fork fork";
      & li:nth-child(1){
        grid-area: watch;
      }
      & li:nth-child(2){
        grid-area: star;
      }
      & li:nth-child(3){
        grid-area: fork;
      }
    }
  }
  .whatYouGet{
    &__wrapper{
      grid-template-rows: auto 1fr auto;
    }
    .benefits__card{
      display: flex;
      flex-direction: column;
      align-items: center;
      &-info{
        text-align: center;
        margin-top: 20px;
      }
    }
    .hereIs-text{
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      margin-bottom: 35px;
    }
  }
  .peopleTalking{
    &__headText{
      font-size: 36px;
      line-height: 48px;
      padding-top: 57px;
      margin-bottom: 53px;
    }
    &__cards{
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-row-gap: 0;
    }
    &__card{
      width: 270px;
      margin-bottom: 45px;
    }
    &__card-info{
      font-size: 16px;
      line-height: 24px;
    }
    &__bottomText{
      width: 251px;
      font-size: 14px;
      line-height: 21px;
      padding-top: 37px;
    }
    #hLine{
      width: 245px;
    }
  }
  .forkSub{
    margin-top: -20px;
    &__headText{
      font-size: 28px;
      line-height: 42px;
      padding-top: 23px;
    }
    &__price-cards{
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-row-gap: 0;
      .price__card{
        width: 257px;
        grid-template-rows: 96px 280px 81px;
        margin-bottom: 20px;

        &-tariff{
          padding: 36px 0 36px;
          .tariffText{
            font-size: 24px;
            line-height: 24px;
          }
        }
        &-content{
          .price{
            font-size: 60px;
            line-height: 62px;
            padding-top: 25px;
            padding-bottom: 20px;
          }
        }
      }
      .recommend__card{
        width: 299px;
        margin-right: 0;
        grid-template-rows: 111px 349px 100px;
        margin-bottom: 20px;
        &-tariff{
          padding: 43px 0 43px;
        }
        .main__card-content{
          .price-main{
            font-size: 82px;
            line-height: 84px;
            padding-bottom: 10px;
          }
          .feature-main{
            font-size: 16px;
            line-height: 32px;
          }
        }

      }
    }
  }
}