.revolutionary{
  min-width: 320px;
  margin-top: 48px;
  color: black;
  text-align: center;
  display: flex;
  &__topText{
    @extend %Montserrat-Regular;
    font-size: 14px;
    line-height: 15px;
    color: #848E97;
  }
  &__headText{
    @extend %Montserrat-Bold;
    font-size: 54px;
    line-height: 54px;
    text-transform: uppercase;
    color: #635C73;
    margin-top: 66px;
  }
  &__bottomText{
    margin-top: 35px;
    margin-bottom: 20px;
    max-width: 860px;
    text-align: justify-all;
    @extend %Lato-Regular;
    font-size: 21px;
    line-height: 32px;
    color: #323232;
  }
  &__socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
    & li{
      margin-right: 15px;
    }
    .social__button{
      color: #24292e;
      background-color: #eff3f6;
      background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
      position: relative;
      display: inline-block;
      font-weight: 600;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
      background-repeat: repeat-x;
      background-position: -1px -1px;
      background-size: 110% 110%;
      border: 1px solid rgba(27,31,35,0.2);
      border-radius: 0.25em;
      appearance: none;
    }
    .social-count{
      float: left;
      padding: 3px 10px;
      font-size: 12px;
      font-weight: 600;
      line-height: 20px;
      color: #24292e;
      vertical-align: middle;
      background-color: #fff;
      border: 1px solid rgba(27,31,35,0.2);
      border-left: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
      .btn-sm{
        padding: 3px 10px;
        font-size: 12px;
        line-height: 20px;
      }
      .btn-with-count{
        float: left;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .octicon{
        vertical-align: text-top;
        display: inline-block;
        fill: currentColor;
      }
    }
}