%Montserrat-Regular{
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}
%Montserrat-Bold{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}
%Lato-Regular{
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
}
%Lato-BoldItalic{
  font-family: 'Lato-BoldItalic', sans-serif;
  font-weight: 700;
  font-style: italic;
}