.benefits__card-text,.benefits__card-description {
  color: black;
}

.whatYouGet{
  min-width: 320px;
  background-color: #F4F4F4;
  max-width: 1380px;
  margin: 0 auto;
  &__wrapper{
    padding-top: 95px;
    display: grid;
    grid-template-areas: "benefits text"
                          "benefits image";
  }
  &__benefits{
    display: flex;
    flex-direction: column;
    grid-area: benefits;
  }
  &__text{
    grid-area: text;
    justify-self: center;
    padding-left: 30px;
  }
  &__image{
    grid-area: image;
  }
}
.benefits__card{
  & + .benefits__card{
    margin-top: 35px;
  }
  display: grid;
  grid-template-columns: 111px 405px;
  grid-column-gap: 23px;
  &-image{
    justify-self: center;
  }
  &-text{
    @extend %Montserrat-Regular;
    font-size: 16px;
    line-height: 21px;
    color: #323232;
    margin-bottom: 16px;

  }
  &-description{
    @extend %Montserrat-Regular;
    font-size: 14px;
    line-height: 21px;
    color: #848E97;
  }
}
  .hereIs-text{
    @extend %Montserrat-Bold;
    font-size: 48px;
    line-height: 50px;
    color: #8D81AC;
  }
  .hereIs-image{
    max-width: 100%;
    height: auto;
  }
