body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background: url("../img/bg/section-1(header).jpg");
    background-attachment: fixed;
    height: 1012px;
    background-size: cover;
}
.header{
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
}
.header__nav{
    width: 1160px;
    margin: 0 auto;
    height: 120px;
    display: flex;
    flex-direction: row;
}
.logo{
    width: 180px;
    height: 120px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logoH{
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
    text-align: left;
    margin-left: -45px;
}
.logoText{
    font-size:  32px;
    font-weight: 300;
    color: #ffffff;
    margin-left: 20px;
}
.logoTextSpan{
    color: #18cfab;
    font-size:  32px;
    font-weight: 700;
}
.navList{
    width: 980px;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navList__link{
    padding-bottom: 51px;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    color: #b8b8b8;
    margin: 53px 12px 0 12px;
    border-bottom: 1px solid transparent;
}
.navList__link:hover{
    color: #18cfab;
    border-bottom: 1px solid #18cfab;
}
#faSearch{
    cursor: pointer;
    font-size: 18px;
}
#faSearch:hover{
    color: #18cfab;
    border-bottom: none;
}
.mainContent{
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.hamText{
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding-top: 200px;
    font-size: 35px;
}
.spanText{
    color: #18cfab;
}
.weAreCreative{
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-size: 79px;
    margin-top: 35px;
    font-weight: 900;
}
.textBottom{
    color: #d4d4d4;
    font-size: 34px;
    text-align: center;
    margin-top: -25px;
}
.mainContent__buttons{
    text-align: center;
    margin-top: -6px;
}
.buttonExplore, .buttonReady{
    text-transform: uppercase;
    width: 168px;
    height: 61px;
    background-color: #18cfab;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    border: none;
    border-top: 5px solid #ffffff;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 100px;
}

.buttonPurchase{
    text-transform: uppercase;
    width: 168px;
    height: 61px;
    margin-left: 20px;
    background-color: #00cbf6;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    border: none;
    border-top: 5px solid #ffffff;
    cursor: pointer;
    border-radius: 3px;
}

.squaresContent{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.squaresBlock{
    width: 480px;
    height: 374px;
    background-color: #18cfab;
    border-top: 7px solid #ffffff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.squaresBlock:nth-child(odd){
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
}
.textSquare{
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 30px;
    font-size: 20px;
}
.green{
    color: #18cfab;
}
/*--------------------------------------------------------------------------*/
.ourServices{
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.blockContent{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: absolute;

}
.headText{
    font-size: 36px;
    text-align: center;
}
.headTextLine{
    width: 90px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 18px 5px #18cfab;
    background-color: #18cfab;
    margin-bottom: 50px;
}
.darkGrey{
    color: #4e4e4e;
}

/*    TABS   */

.tabs {
    width: 1160px;
    height: 240px;
}
.tabs__nav {
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: inherit;
    color: #717171;
}

.tabs__nav:after {
    content: '';
    display: table;
    clear: both;
}
.tabs__nav li {
    width: 191px;
    height: 73px;
    background: #f8fcfe;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eeeeef;
}
.tabs__nav li:not(.active) {
    cursor: pointer;
}
.tabs__nav .active {
    background: #18cfab;
    color: #fff;
    position: relative;
    border: 1px solid #18cfab;
}
.tabs__nav .active:before {
    content: '▼';
    position: absolute;
    bottom: -23px;
    left: 83px;
    right: 0;
    color: #18cfab;
    font-size: 29px;
}
.tab__content {
    display: none;
    background: #FFF;
    margin-top: 30px;
}
.tab__content.active {
    display: block;
}
.tabImage{
    float: left;
    margin-right: 20px;
}
.tabText{
    color: #777777;
    font-size: 14px;
    text-align: justify;
    line-height: 1.7;
}

.isReady{
    height: 460px;
    background: url("../img/bg/section-2.jpg");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.blackFilter{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 460px;
}
.isReadyText{
    text-transform: uppercase;
    font-size: 40px;
}
.subText{
    font-size: 16px;
}
.grey{
    color: #d8d8d8;
}

.ourAmazingWork{
    min-height: 975px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #E9EDEF;;
    border: 1px solid #e1e1e1;
}
.contentAmazing{
    width: 1200px;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 1050px;
    padding-top: 60px;
}
.imgHoverBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fas__hover{
    color: #18cfab;
    padding: 20px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 2px;
    margin-right: 2px;
}
.fas__hover:hover{
    background-color: #18cfab;
    color: #ffffff;
}
.hoverBlockText{
    color: #18cfab;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 10px;
}
.hoverBlockSubText{
    color: #8a8a8a;
    margin-top: 2px;
}
.displayNone{
    display: none;
}
.breakingNews{
    height: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.cardsLine{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.cardContent{
    width: 264px;
    height: 280px;
    display: flex;
    flex-flow: column;
    margin: 20px 23px;
    position: relative;
}
.content_block{
    text-decoration: none;
}
.dateBlock{
    width: 70px;
    height: 68px;
    background-color: #203e38;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}
.cardContent a.content_block:hover .nameImg {
    color: #18cfab;
}
.cardContent a.content_block:hover .dateBlock{
    background-color: #18cfab;
}
.day{
    text-align: center;
    margin-top: 15px;
}
.month{
    text-align: center;
    margin-top: -10px;
}
.white{
    color: #ffffff;
}
.descriptionBlock{
    width: 263px;
    height: 72px;
}
.nameImg{
    color: #717171;
    text-align: left;
    font-size: 18px;
    margin-left: 15px;
    font-weight: 900;
    margin-top: 10px;
    cursor: pointer;
}
.nameImg:hover{
    color: #18cfab;
}
.byAdmin{
    color: #777777;
    float: left;
    font-size: 14px;
    margin-left: 18px;
    margin-top: -7px;

}
.slash{
    color: #777777;
    float: left;
    font-size: 14px;
    margin-left: 9px;
    margin-top: -7px;
}
.comments{
    color: #777777;
    float: left;
    font-size: 14px;
    margin-left: 9px;
    margin-top: -7px;
}

.whatPeopleSay{
    height: 850px;
    background: url("../img/bg/section-3.png");
    background-attachment: fixed;
    background-size: cover;
}
.contentWhatPeopleSay{
    padding-top: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quotes{
    color: #18cfab;
}
.classForSlickWidth{
    width: 1200px;
}
.testimonialText{
    color: #bbbbbb;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
}
.testimonialName{
    text-transform: uppercase;
    color: #18cfab;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
}
.testimonialAbout{
    color: #bbbbbb;
    font-size: 13px;
    text-align: center;
    margin-bottom: 19px;
}
.testimonialAvatar{
    width: 164px;
    height: 165px;
    border-radius: 50%;
    background-color: rgba(24,207,171,0.2);
    display: inline-block;
    margin-left: 500px;
}
.testimonialAround{
    width: 144px;
    height: 143px;
    border-radius: 50%;
    background-color: #18cfab;
    display: inline-block;
    margin: 10px;
}
.blockTestimonials{
    width: 500px;
    height: 120px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myNawLeft{
    padding: 8px 10px;
    border: 1px solid #cccccc;
    cursor: pointer;
    color: #cccccc;
}
.myNawLeft:hover{
    color: #ffffff;
    background-color: #18cfab;
    border: 1px solid #18cfab;
}
.myNawRight{
    padding: 8px 10px;
    border: 1px solid #cccccc;
    cursor: pointer;
    color: #cccccc;
}
.myNawRight:hover{
    color: #ffffff;
    background-color: #18cfab;
    border: 1px solid #18cfab;
}
.classForSlick2{
    width: 520px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.testimonialsAvatarSmall{
    height: 75px;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
    margin-left: 80px;
    cursor: pointer;

}
.testimonialSmallImg{
    margin-top: 4px;
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0 0 0px 7px rgba(24,207,171,0.2);
    outline: none;
}
.testimonialSmallImg:active{
    outline: none;
}
.testimonialSmallImg:focus{
    outline: none;
}
.slick-active .testimonialSmallImg{
    margin-top: -5px;
    border: 2px solid #18cfab;
}
.slick-slide img:focus{
    outline: 0;
}

.gallery{
    height: 1370px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.wrapForMasonryImg{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.left{
    display: grid;
    grid-template-columns: 370px;
    grid-template-rows: 259px 260px 290px;
    margin-right: 20px;
    grid-row-gap: 20px;
}
.blockShadow{
    position: relative;
    background: #000;
}
.masonryImg{
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle{
    display: flex;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    text-align: center;
}
.blockShadow:hover .masonryImg{
    opacity: 0.64;
}
.blockShadow:hover .middle {
    opacity: 1;
}
.hiddenButton {
    background-color: #14B9D5;
    width: 27px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

.center{
    display: grid;
    grid-template-columns: 370px;
    grid-template-rows: 380px 247px 259px;
    margin-right: 20px;
    grid-row-gap: 20px;
}
.rightTop{
    display: grid;
    grid-template-columns: 180px 180px;
    grid-column-gap: 4px;
    margin-bottom: 3px;
}
.rightMiddle{
    display: grid;
    grid-template-columns: 124px 119px 115px;
    grid-template-rows: repeat(3, 92px);
    grid-gap: 3px;
}
.rightBottom{
    margin-top: 16px;
}
.footer{
    height: 120px;
    background-color: #22353f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textFooter{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: rgba(174, 174, 174, 255);
}
.spanFooter{
    color: #18cfab;
    cursor: pointer;
}














